<form [formGroup]="newVehicleForm" (submit)="addVehicle()">
    VIN:<br />
    <input type="text" formControlName="veh_vin" /><br />
    <!-- <p *ngIf="vin.invalid && vin.dirty" class="field-error">VIN must be 4 characters long.</p> -->

    Year:<br />
    <input type="text" formControlName="veh_year"/><br />
    <!-- <p *ngIf="year.invalid && year.dirty" class="field-error">Please enter a year (YYYY).</p> -->

    Make:<br />
    <select formControlName="veh_make">
        <option *ngFor="let m of manufacturerList" [value]="m.code">{{m.name}}</option>
    </select>
    <br/>

    Model:<br />
    <input type="text" formControlName="veh_model"/><br />
    <!-- <p *ngIf="model.invalid && model.dirty" class="field-error">Please enter a model for the car.</p> -->

    <!-- <label>
        <input type="checkbox" name="veh_certified" [value]="false" ngModel/> Is certified
    </label><br/>

    Vehicle owned by: 
    <input type="radio" name="veh_owner" value="private" ngModel/> Private
    <input type="radio" name="veh_owner" value="dealer" ngModel/> Dealer
    <input type="radio" name="veh_owner" value="third_party" ngModel/> Third Party -->

    <br/>

    <button>Add Vehicle</button>
</form>

<h3>Current Inventory</h3>

<div *ngFor="let car of inventory; let evenItem = even; trackBy: trackByVIN" [ngClass]="{'even-car': evenItem}">
    <p>VIN: {{car.VIN}}</p>
    <p>Year: {{car.year}}</p>
    <p>{{car.make}}, {{car.model}}</p>

    <button (click)="deleteVehicle(car)">Delete</button>
    <button (click)="editVehicle(car)">Edit</button>

    <form *ngIf="vehicleToEdit == car" [formGroup]="editVehicleForm" (submit)="updateVehicle()">
        VIN:<br />
        <input type="text" formControlName="veh_vin"/><br />
        Year:<br />
        <input type="text" formControlName="veh_year"/><br />
        Make:<br />
        <input type="text" formControlName="veh_make"/><br />
        Model:<br />
        <input type="text" formControlName="veh_model"/><br />

        <button>Save</button>
        <button (click)="cancelEdit()">Cancel</button>
    </form>
</div>

<p *ngIf="inventory.length == 0">There are no vehicles in inventory right now. Please check back again later.</p>